.a {
    text-decoration: none;
}

.slid {
    height: 300px;
}

.img-d {
    width: 10%;
}

@media screen and (max-width: 780px) {

    .img-d {
        width: 10px;
        height: 50px;
        display: flex;
        padding: 1px;
    }

    .r2 {
        display: block;
    }

    hr {
        width: 100%;
        font-weight: bold;
    }

    .card {
        margin-right: 10%;
    }

    .m {
        text-align: center;
        font-weight: bold;
    }

    .img-p {
        width: 50%;
        display: inline-block;
    }

    .card2 {
        width: 242px;
        margin-left: 0px;
        display: inline-block;
    }

    .card3 {
        display: inline-block;
    }
}